$bg-color: rgb(20, 20, 20);
$color: white;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: white;
}

body {
    background-color: $bg-color;
    align-items: center;
    min-height: 100vh;
    display: flex;
    h1, h2{
        text-align: center;
        margin-bottom: 1em;
    }
}

main {
    margin-inline: auto;
    max-width: 1000px;
    width: 100%;
}

#board {
    grid-template-columns: repeat(3, 1fr);
    background-color: $color;
    aspect-ratio: 1 / 1;
    margin-inline: auto;
    max-height: 70vh;
    display: grid;
    gap: 2px;

    .square {
        background-color: $bg-color;
        transition-property: filter;
        transition-duration: .1s;
        position: relative;
        aspect-ratio: 1/1;
        cursor: pointer;

        &:hover, &.select{
            filter: brightness(1.2);
        }
    }

    [query]{
        &::after, &::before{
            animation: toFullWidth .3s forwards;
            transition-property: width;
            transition-duration: .2s;
            border-radius: 100%;
            position: absolute;
            display: block;
            content: "";
            width: 0;
            left: 50%;
            top: 50%;
            --w: 80%;
        }

        &::after, &[query=x]::before{
            background-color: $color;
        }
    }

    [query=x] {
        &::after,
        &::before {
            transform: translate(-50%, -50%) rotateZ(var(--deg));
            height: 5px;
        }

        &::after {
            --deg: 45deg;
        }

        &::before {
            --deg: -45deg;
        }
    }

    [query=o]{
        &::after, &::before{
            transform: translate(-50%, -50%);
            aspect-ratio: 1 / 1;
        }

        &::before{
            background-color: $bg-color;
            --w: calc(80% - 5px);
            z-index: 2;
        }
    }
}

@keyframes toFullWidth {
    0%{width: 0;}
    100%{width: var(--w);}
}

button{
    border: 2px solid rgba($color, .2);
    background-color: $bg-color;
    margin-inline: auto;
    border-radius: 20px;
    padding: 10px 20px;
    margin-top: 20px;
    display: block;
    color: white;
}